@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');

;:root{
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 20px rgba(0,0,0,0,1);
}

h1,h2,h3,h4,h5,h6, .display-4{
    color: var(--dark);
    font-weight: 200%;
}

html{
    background-color: white;
    padding: 0;
}
.logo_img{
    width: 25%;
}
.espaciado{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.color div img:hover{
    transition: transform 0.5s;
    overflow: hidden;
    transform: scale(1.2);
    opacity: 0.5;
    filter: brightness(30%);
}
.color div:hover > figcaption {
    text-align: center;
    font-weight: bold;
    display:block;
    transition: all .5s;
    position: absolute;
    padding: 5%;
    color: black;
    
  }

figcaption {
    display:none; 
    transition: all .5s;
}
