html{
    background-color: white;
    padding: 0;
    font-family: 'Sora', sans-serif;
}
.logo_img{
    width: 25%;
}
.menu_barra{
    font-family: 'Sora';
}
.boton_flotante{
    text-align: right;
    padding-right: 5%;
    padding-bottom: 2%;
    font-size: 400%;
    color: chartreuse;

}
.espaciado{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.color div img:hover{
    transition: transform 0.5s;
    overflow: hidden;
    transform: scale(1.2);
    opacity: 0.5;
    filter: brightness(30%);
}
.color div:hover > figcaption {
    text-align: center;
    font-weight: bold;
    display:block;
    transition: all .5s;
    position: absolute;
    padding: 5%;
    color: black;
    
  }

figcaption {
    width: auto;
    font-family: 'Sora';
    display:none; 
    transition: all .5s;
}


